@model StoreWeb.Models.GreetingModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTK Akademi</title>
</head>

<body>
    <header>

    </header>
    <main>
        <h1>Merhaba @Model?.Name</h1>
        <small>Bu sayfa @Model?.Date tarihinde oluşturulmuştur.</small>
        <p>
            <a href="/">Ana Sayfa</a>
        </p>
    </main>
    <footer>
        &copy; 2026, Nisan
    </footer>
</body>

</html>

