@model StoreWeb.Models.GreetingModel



<h1>Merhaba @Model?.Name</h1>
<small>Bu sayfa @Model?.Date tarihinde oluşturulmuştur.</small>
<ul>
    @foreach (var city in Model?.Cities ?? new List<City>())
    {
        <li>@city</li>
    }
</ul>
<p>
    <a href="/">Ana Sayfa</a>
</p>
   
