<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTK Akademi</title>
</head>
<body>
    <h1>Hoş Geldiniz</h1>
    <a href="/home/greeting/BTK-Akademi">Selamla</a>
    <a href="/home/contact">İletişim</a>
</body>
</html>

